.container {
  padding: 0 10px;
}

.title {
  margin-top: 10px;
  position: relative;
  font-size: 28px;
  font-weight: 400;
  z-index: 0;
}

.title::before {
  position: absolute;
  top: -10px;
  left: -25px;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: var(--accent-color);
  border-radius: 50%;
  z-index: -1;
}

.products {
  margin-top: 25px;
  display: flex;
  gap: clamp(15px, 3vw, 20px);
  flex-wrap: wrap;
}