.Order {
  padding-inline: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image {
  width: 170px;
  height: 180px;
}

.image img {
  width: 100%;
  height: 100%;
}

.title {
  margin-top: 15px;
  font-size: 28px;
}

.volumes {
  margin-top: 15px;
}

.additivesBtn {
  margin-top: 10px;
}

.payBtn {
  margin-top: 10px;
  position: relative;
}